section {
  position: relative;
  margin: 2rem 2rem;
}
.content {
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.75rem;
  color: white;
}

.content p {
  width: 60%;
  margin-top: 1.5rem;
  text-align: center;
}
.content h1 {
  letter-spacing: 0.2rem;
  font-size: 3rem;
}
section img {
  min-width: 100%;
  filter: brightness(50%);
  max-height: 50%;
  border-radius: 2rem;
  object-fit: cover;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  /* background-color: aliceblue; */

  /* border: 1px solid #0077b6; */
}
.search input[type="text"] {
  padding: 0.8rem;
  width: 100%;
}
.search button {
  padding: 0.8rem;
  margin: 1.3rem 0 0 0;
  background-color: coral;
}
.search label {
  margin-bottom: 0.75rem;
  text-align: center;
}
