@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

.main_nav {
  width: 100vw;
  position: fixed;
  top: 0;
  /* height: 100%; */
  z-index: 100;
}
.main_nav .navbar {
  background-color: rgb(255, 217, 0) !important;
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */

  align-items: center;
  padding: 0.5rem 0.8rem;
  /* height: 5rem; */
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 5rem;
  /* margin-left: 15rem; */
}
.navbar-nav .nav-item {
  margin-right: 4rem;
}

.nav-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: red;

  /* margin-right: 1px; */
}
.logo_name {
  font-size: 1.8rem;
  font-weight: 800;
  margin-left: 0.35rem;
  margin-top: 2px;
  text-decoration: none;
  font-family: "Lora", serif;
}

nav .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  /* font-size: 0.875rem; */
  gap: 1.85rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

nav .right p {
  margin-bottom: 0;
}

nav .right p:hover {
  color: chocolate;

  border-radius: 2rem;

  cursor: pointer;
}
.user {
  font-size: 1.5rem;
  display: flex;
  gap: 0.75rem;
  border: 1px solid rgba(128, 128, 128, 0.671);
  border-radius: 1.3rem;
  padding: 0.55rem;
  cursor: pointer;
  background-color: white;
}
#person {
  color: grey;
}
@media (max-width: 550px) {
  .logo_name {
    font-size: 1rem;
    font-weight: 800;
    margin-left: 0.35rem;
    margin-top: 2px;
    text-decoration: none;
    font-family: "Lora", serif;
  }
  .logo_img {
    width: 1.8rem;
  }
}
