.destination {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  margin: 0;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}
#recommended h2 {
  margin: 2rem 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  color: #dd6d6d;
}
.destination_info {
  background-color: rgba(113, 135, 153, 0.295);
  padding: 1.3rem 1rem 1rem 1rem;
  border-radius: 1.3rem;
  text-align: center;
  box-shadow: 2px 2px 10px grey;
  object-fit: cover;
}
.destination_info > img {
  width: 300px;
  height: 203px;
}
.destination_info h3 {
  margin: 2rem 0;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.25rem;
}

.destination_info:hover {
  background-color: rgba(113, 135, 153, 0.904);
  /* transform: translate(); */
  transform: translate(0.75rem, -1.2rem);
}
